#s-b5d04520-72ca-427f-8d79-1628057c3f9c > #backgroundBox {
  position: absolute;
}

#s-b5d04520-72ca-427f-8d79-1628057c3f9c > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-b5d04520-72ca-427f-8d79-1628057c3f9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
