#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b > #backgroundBox {
  position: absolute;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle {
  position: absolute;
  width: 359.99999999999994px;
  min-height: 69.62882027602853px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #23262B;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_3 {
  position: absolute;
  width: 126.00000000000011px;
  height: 65.01750875255365px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_15 {
  position: absolute;
  width: 89.68620300292974px;
  min-height: 30.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_71 {
  position: absolute;
  width: 32.000000000000114px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_2 {
  position: absolute;
  width: 355.9607753753662px;
  min-height: 37.02403106472332px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_1 {
  position: absolute;
  width: 42.01757049560544px;
  min-height: 44.16930177865535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_3 {
  position: absolute;
  width: 42.01757049560544px;
  min-height: 44.16930177865535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_4 {
  position: absolute;
  width: 42.01757049560544px;
  min-height: 44.16930177865535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_5 {
  position: absolute;
  width: 42.01757049560544px;
  min-height: 44.16930177865535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_6 {
  position: absolute;
  width: 42.01757049560544px;
  min-height: 44.16930177865535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_7 {
  position: absolute;
  width: 42.01757049560544px;
  min-height: 44.16930177865535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_1 {
  position: absolute;
  width: 49.982429504394645px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_2 {
  position: absolute;
  width: 94.9173107147219px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 {
  position: absolute;
  width: 70.9912147521975px;
  min-height: 65.85581361165964px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 {
  position: absolute;
  width: 70.9912147521975px;
  min-height: 65.85581361165964px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 {
  position: absolute;
  width: 70.9912147521975px;
  min-height: 65.85581361165964px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 {
  position: absolute;
  width: 70.9912147521975px;
  min-height: 65.85581361165964px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_12 {
  position: absolute;
  width: 30.620117187500085px;
  min-height: 29.261716368232783px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_13 {
  position: absolute;
  width: 31.0px;
  min-height: 29.26171636823267px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_14 {
  position: absolute;
  width: 28.843101501464957px;
  min-height: 29.26171636823267px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_59 {
  position: absolute;
  width: 16.75px;
  height: 16.751167515082102px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_60 {
  position: absolute;
  width: 22.310058593750398px;
  height: 20.83274270450306px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_121 {
  position: absolute;
  width: 19.639652252197152px;
  height: 18.802222401429503px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_4 {
  position: absolute;
  width: 198.1836013793944px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_5 {
  position: absolute;
  width: 323.46224975585926px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree {
  position: absolute;
  width: 327.92351150512667px;
  height: 150.19063623286934px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li {
  background-position: 8px 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li.last {
  background-position: 8px 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li.open td.treeicon {
  background: transparent url('../../images/c46d5534-3853-4449-a46c-3b5ecf161095.gif') no-repeat top center scroll;
  height: 16px;
  width: 16px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li.closed td.treeicon {
  background: transparent url('../../images/7d6abebf-fd84-4368-a45d-535b49b4e9c3.gif') no-repeat top center scroll;
  height: 16px;
  width: 16px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li.leaf table td.treeicon {
  background-position: 8px center;
  width: 16px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li.last.leaf td.treeicon {
  width: 16px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree li.open ul {
  padding-left: 16px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_1 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_1-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_3 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_3-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_3 span#rtr-s-Tree_node_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_1 span#rtr-s-Tree_node_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_4 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_4-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_6 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_6-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_6 span#rtr-s-Tree_node_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_4 span#rtr-s-Tree_node_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_7 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_7-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_8 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_8-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_8 span#rtr-s-Tree_node_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_7 span#rtr-s-Tree_node_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_9 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_9-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_10 {
  width: auto;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_10-nodecontent {
  vertical-align: middle;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_10 span#rtr-s-Tree_node_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Tree_node_9 span#rtr-s-Tree_node_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button {
  position: absolute;
  width: 95.97364425659231px;
  min-height: 32.14297717465206px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #000000 97.5406709374789%, #E6E6E6 99.99999999999997%);
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_58 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_16 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_17 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_12 img, #s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_12 svg {
  transform: rotateY(180deg) ;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_73 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_18 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_42 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_91 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_153 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_43 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b #s-Image_76 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-b80dc2c9-4dfa-4b5f-8a7c-7c08daab4b2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
