#s-e4ffbd33-dc59-40ae-965f-61dd1298bb2c > #backgroundBox {
  position: absolute;
}

#s-e4ffbd33-dc59-40ae-965f-61dd1298bb2c > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e4ffbd33-dc59-40ae-965f-61dd1298bb2c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
