#s-e7f745d6-8541-4f67-b878-3ca5e0d151d3 > #backgroundBox {
  position: absolute;
}

#s-e7f745d6-8541-4f67-b878-3ca5e0d151d3 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e7f745d6-8541-4f67-b878-3ca5e0d151d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
