#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 > #backgroundBox {
  position: absolute;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 720.0px;
  width: 100%;
  height: 100%;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 input::-webkit-input-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 input::-moz-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 input:-moz-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 input:-ms-input-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 {
  position: absolute;
  width: 238.4941482543938px;
  height: 40.46221377028678px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Category_2 {
  position: absolute;
  width: 239.49999999999955px;
  height: 41.504233203949184px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #0B0B0B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Category_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Category_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button {
  position: absolute;
  width: 108.25000000000006px;
  min-height: 34.369708495063264px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button > .backgroundLayer > .colorLayer {
  background-color: #060606;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Rectangle {
  position: absolute;
  width: 359.99999999999994px;
  min-height: 69.62882027602853px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Rectangle > .backgroundLayer > .colorLayer {
  background-color: #23262B;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Rectangle .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Rectangle .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Rectangle span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Rectangle span#rtr-s-Rectangle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_3 {
  position: absolute;
  width: 126.00000000000011px;
  height: 65.01750875255365px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_15 {
  position: absolute;
  width: 89.68620300292974px;
  min-height: 30.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_71 {
  position: absolute;
  width: 32.000000000000114px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_121 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 input::-webkit-input-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 input::-moz-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 input:-moz-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 input:-ms-input-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 {
  position: absolute;
  width: 238.7470741271967px;
  height: 33.81922485177864px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 .valign {
  vertical-align: middle;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_60 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 input::-webkit-input-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 input::-moz-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 input:-moz-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 input:-ms-input-placeholder {
  color: #666666;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 {
  position: absolute;
  width: 238.9999999999999px;
  height: 38.63844970355751px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 .valign {
  vertical-align: middle;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_91 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_44 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 {
  position: absolute;
  width: 108.25000000000006px;
  min-height: 34.369708495063264px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 > .backgroundLayer > .colorLayer {
  background-color: #060606;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_1 span#rtr-s-raised_Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 {
  position: absolute;
  width: 108.25000000000006px;
  min-height: 34.369708495063264px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 > .backgroundLayer > .colorLayer {
  background-color: #060606;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-raised_Button_2 span#rtr-s-raised_Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Alert-dialog_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Content_panel {
  width: 78.05556%;
  height: 107.0px;
  filter:  drop-shadow(-0.1396192514982688px 7.99878156125113px 25px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Content_panel > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Content_panel > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Content_panel .verticalalign {
  vertical-align: top;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Text_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_7 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_7 span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #747474;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_8 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_13 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_13 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_14 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_14 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_14 span#rtr-s-Button_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Alert-dialog {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Panel_1 {
  width: 94.95822593750009%;
  height: 438.4537473623883px;
  filter:  drop-shadow(-0.1396192514982688px 7.99878156125113px 25px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_5 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_5 span {
  color: #080808;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #080808;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_6 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_11 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_11 span {
  color: #0E0E0F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #0E0E0F;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_12 {
  position: absolute;
  width: 80.0px;
  min-height: 29.0px;
  opacity: 0.35;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_12 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input {
  position: absolute;
  width: 210.1911986676949px;
  height: 29.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input .valign {
  vertical-align: middle;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 {
  position: absolute;
  width: 269.69285082982344px;
  height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_45 {
  position: absolute;
  width: 23.572844710395827px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 #s-Image_76 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-fe10c1f1-8870-4f9c-875b-9f36a84151c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
